.profile__avatar-button{
	position: relative;
	padding: 0;
	width: 120px;
	height: 120px;
	margin-right: 30px;
	border: 0;
	z-index: 0;
	border-radius: 120px;
	background-color: black;
}

.profile__avatar-button:hover{
	cursor: pointer;
	

	background-repeat: no-repeat;
	background-position: center;
}

@media screen and (max-width: 767px) {
	.profile__avatar-button {
		margin: 0;
	}
}