@import "__logo/header__logo.css";

.header {
	margin-top: 45px;
	border-bottom: 1px solid rgba(84, 84, 84, 0.7);
	margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
	.header {
		margin-top: 28px;
		width: 100%;
		max-width: 100vw;
		position: relative;
		align-self: center;
	}
}
